body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}
.container{
    border: 2px solid black;
    padding: 20px;
    height: 150px;
}
.box{
    height: 50px;
    width: 60px;
    background-color: #1303f3;
    color: white;
}
.absolute{
    position: absolute;
   right: 0px;
    bottom: 0px;
}